# Hello world
## Hello world
### Hello world
#### Hello World

In [1]:
print("Hello World!!!")

Hello World!!!

* item 1
* item 2

Variables and Types

In [2]:
integer = 5
print(integer)

5

In [3]:
myfloat = 3.0
print(myfloat)

3.0

In [4]:
mystring = "Hello world!!!"
print(mystring)

Hello world!!!

In [5]:
mystring = "Today's date is 14/06/2020"
print(mystring)

Today's date is 14/06/2020

In [6]:
one = 1
two = 2
three = one + two 
print(three)

3

In [7]:
hello = "hello"
world = "world"
helloworld = hello + " " + world
helloworld

'hello world'

In [8]:
mylist = []
mylist.append(2)
mylist.append(3)
mylist.append(1)
mylist.append(5)

In [9]:
for x in mylist:
    y = x + 5
    print(y)

7
8
6
10

In [10]:
5 -3

2

In [11]:
5 + 5

10

In [12]:
10 % 3

1

In [13]:
5*2

10

In [14]:
5**2

25

In [15]:
squared = 5**2
cube = 3**3
print(squared)
print(cube)

25
27

In [16]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [17]:
hello_5 = "hello" * 5
print(hello_5)

hellohellohellohellohello

In [18]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers 
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [19]:
lists = [1,2,3]
print(lists * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
name = "John"
print(name)

John

In [21]:
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [22]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [23]:
mylist.append(4)
mylist.append(5)

In [24]:
print(mylist)

[1, 2, 3, 4, 5]

In [25]:
print(mylist[2:4])

[3, 4]

In [26]:
print(mylist[:-1])

[1, 2, 3, 4]

In [27]:
x = 5
print(x==5)

True

In [28]:
print(x>10)

False

In [29]:
print(x==4)

False

In [30]:
name = "Rick"
age = 23
if name == "John" or age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.") 
else:
    print("I am Mike")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

In [31]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick")

Your name is either John or Rick

In [32]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [33]:
x = 10 
if x == 8:
    print("x equals 8")
else:
    print("that is not correct")

that is not correct

In [34]:
x = [2,5,7]
y = [3,8,9]
print(x==y)
print(x is y)

False
False

In [35]:
x = [2,5,7]
y = [2,5,7]
print(x==y)
print(x is y)

True
False

In [36]:
print(not False) # Prints out True

True

In [37]:
print((not False) == (True)) # Prints out False

True

In [38]:
primes = [2,3,5,7]
for prime in primes:
    print(prime)

2
3
5
7

In [39]:
for x in range(9): 
    print(x)

0
1
2
3
4
5
6
7
8

In [40]:
for x in range(5, 8): 
    print(x)

5
6
7

In [41]:
count = 0
while count<4:
    print(count)
    count+=1

0
1
2
3

In [42]:
count = 0
while True:
    print(count)
    count+=1
    if count>=5:
        break

0
1
2
3
4

### Python for Loops

In [43]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [44]:
for letter in "banana":
  print(letter)

b
a
n
a
n
a

In [45]:
fruits = ["apple", "banana", "cherry"]
for item in fruits:
  print(item)
  if item == "banana":
    break

apple
banana

In [46]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [47]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [48]:
for x in range(5, 10):
  print(x)

5
6
7
8
9

In [49]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [50]:
for x in range(2, 30, 5):
  print(x)

2
7
12
17
22
27

In [51]:
for x in range(2, 6):
  print(x)
else:
  print("Finally finished!")

2
3
4
5
Finally finished!

In [52]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [53]:
for x in [0, 1, 2]:
  pass

### functions

In [54]:
def myfunction():
  pass

In [55]:
def my_function():
  print("Hello from a function")

In [56]:
my_function()

Hello from a function

In [57]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [58]:
def my_function(fname):
  print(fname + " Refsnes")

In [59]:
my_function("Email")

Email Refsnes

In [60]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [61]:
def my_function(*kids):
  print("The youngest child is " + kids[0])

my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

In [62]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [63]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [64]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [65]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", 5, "cherry"]

my_function(fruits)

apple
5
cherry

In [66]:
def sum_2(a, b):
    x = a + b
    print(x)

In [67]:
sum_2(3,5)

8

In [68]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [69]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21